
.content {
    text-align:center;
    background-color:grey;
   margin: auto;
}
.passwordInput{
    width: 40%;
    border: rgb(41, 15, 15);
    border-radius: 3px 3px 3px 3px ;
    padding: 5px;
    margin-top: 5px;
}
.passGen{
    color: white;
    font-size: 25px;
    
}
.copybtn {
  background-color: #0690f3;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: rgba(160, 160, 162, 0.25) 0px 30px 60px -12px inset, rgba(185, 173, 173, 0.3) 0px 18px 36px -18px inset;;
  box-sizing: border-box;
  color: #fff;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -5px;
 
}

.button-7:hover,
.button-7:focus {
  background-color: #07c;
}



.button-7:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-7:active {
  background-color: #0064bd;
  box-shadow: none;
}